.mcplink {
  border: 1px solid rgb(var(--gray-700));
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.mcplink:hover {
  background-color: rgb(var(--gray-700));
}